#main-width {
    margin-top: 100px;
    max-width: 500px;
}
.chip {
    padding-left: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.collection {
    border: none;
}
.btn-floating {
    border-radius: 33px;
}
.submit-button input {
    color: white;
}
.submit-button, .clear-button {
    display: flex;
    justify-content: center;
}
#title, h5 {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 20px;
}
.card-title, #task-title {
    padding: 5px;
    border: 1px solid #26a69a;
    border-radius: 20px;
}
#filter, #task {
    margin-bottom: 20px;
}
input[type="submit"] { 
    box-sizing: border-box 
}
btn {
    padding: none;
}
.validate {
    background-color: none;
}
.card {
    background-color: ##fcfffe;
}